@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  
}

.header {
  background-color: #333;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.header a {
  /*float: left;*/
  padding: 2rem 4rem;
  justify-content: center;
  color: #F2F2F2;
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.header a:hover {
  background-color: #DDD;
  color: black;
}

.header a:active {
  background-color: #4CAF50;
  color: white;
}

#logo {
  font-family: 'Covered By Your Grace', Arial, sans-serif;
}

body {
  background-image: url("http://eskipaper.com/images/anime-scenery-wallpapers-1.jpg");
  background-repeat: no-repeat;
  font-family: Roboto, Arial, sans-serif;
}
