@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  
}

h1 {
  text-align: center; 
  font-size: 8rem;
  padding: 1rem 1rem
}

html {
  background: url(http://eskipaper.com/images/anime-scenery-wallpapers-1.jpg) no-repeat center center fixed;
  /*ALTERNATE: background-image: url(http://allswalls.com/images/anime-scenery-wallpaper-1.jpg);*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: Roboto, Arial, sans-serif;
}

.header {
  background-color: #333;
  display: inline-block;
  justify-content: space-around;
  text-align: center;
  margin: 0px;
  width: 100%;
}

.header a {
  /*float: left;*/
  padding: 0rem 4rem;
  color: #F2F2F2;
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.header a:hover {
  background-color: #DDD;
  color: black;
}

.header a:active {
  background-color: #4CAF50;
  color: white;
}

.seasons {
  position: relative;
  display: inline-block;
}

.seasons-content {
  display: none;
  position: absolute;
  overflow: auto;
  background-color: #333;
  z-index: 1;
}

.seasons-content a {
  padding: 0rem;
}

.seasons:hover .seasons-content {
  display: block;
}

#logo {
  font-family: 'Covered By Your Grace', Arial, sans-serif;
}

.page-info {
  position: relative;
}
